<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Admin</title>
		<style type="text/css">
			form{
				text-align:center;
			}
			h1{
				text-align:center;
			}
		</style>
	</head>
	<body>
		<h1>Admin_Home</h1>
		<form action="newsong">
			<input type="submit" value="ADD SONGS" id="2s">
		</form>
		<br></br>
		<form action="viewsongs">
			<input type="submit" value="VIEW SONGS" id="3s">
		</form>
		<br></br>
		<form action="createplaylists">
			<input type="submit" value="CREATE PLAYLIST" id="4s">
		</form>
		<br></br>
		<form action="viewplaylists">
			<input type="submit" value="VIEW PLAYLIST" id="5s">
		</form>
	</body>
</html>