<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Login</title>
<style type="text/css">
form{
				text-align:center;
			}
h1{
text-align: center;
}</style>
</head>
<body>
	<form action="validate" method="post">
	<h1>User Login</h1>
			<label>Email ID*    :</label>
			<input type="email" placeholder="Enter Your Email" name="email">
			<br></br>
			<label>Password* :</label>
			<input type="password" placeholder="Enter Your Password" name="password" >
			<br></br> 
			<input type="submit" value="LOGIN">
	</form>
</body>
</html>