<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ADD SONG</title>
<style type="text/css">
			form{
				text-align:center;
			}
			h1{
				text-align:center;
			}
			
		</style>
</head>
<body>
<h1>Song Registration</h1>
	<form action="addsong" method="post"> 
			<label>Song Name* :</label>
			<input type="text" placeholder="Enter Song Name" name="name">
			<br></br>
			<label>Song Artist*  :</label>
			<input type="text" placeholder="Enter Artist Name" name="artist">
			<br></br>
			<label>Song Genre*  :</label>
			<input type="text" placeholder="Enter Type of Genre" name="genre">
			<br></br>
			<label>Song Link*  :</label>
			<input type="text" placeholder="Enter Song Link" name="link">
			<br></br>
			<input type="submit" value="ADD SONG" id="2s">
	</form>
</body>
</html>